<ul>

  {% if user.is_authenticated %}

  {% if user.userTypes == 'Admin' %}

  <li><a class="active" href="{% url 'adminDashboard' %}">Admin Dashboard</a></li>
  <li><a href="{% url 'addEmployee' %}">Add Employee</a></li>
  <li><a href="{% url 'listEmployee' %}">List Employee</a></li>

  {% elif user.userTypes == 'Employee' %}

  <li><a href="{% url 'employeeDashboard' %}">Employee Dashboard</a></li>
  <li><a href="{% url 'addLeave' %}">Add Leave</a></li>

  {% endif %}
  
  <li><a href="{% url 'logOut' %}">Log Out</a></li>


  {% else %}

  <li><a href="{% url 'signUp' %}">Sign Up</a></li>
  <li><a href="{% url 'logIn' %}">Log In</a></li>

  {% endif %}
   
</ul>
